.back__to__top {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  border: 0.5px solid #cf4b47;
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: grid;
  place-content: center;

  div {
    text-align: center;
    color: #cf4b47;
    font-size: 12px;
    font-family: "Renitta";
  }
}
