.back__to__top {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  border: 0.5px solid #cf4b47;
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: grid;
  place-content: center;
  cursor: pointer;
  transition: 100ms;

  &:hover {
    box-shadow: 0 0 2px 3px #cf4b47;
  }

  div {
    text-align: center;
    color: #cf4b47;
    font-size: 12px;
    font-family: "Renitta";
  }
}
