.back__to__top {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  border: 0.5px solid #cf4b47;
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: grid;
  place-content: center;
  cursor: pointer;
  transition: 100ms;
  overflow: hidden;
  z-index: 5;

  .backdrop {
    position: absolute;
    background-color: #CF4B4720;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    transform-origin: 0 0;
  }

  &:hover {
    box-shadow: 0 0 5px 3px #cf4b47;
  }

  div {
    text-align: center;
    color: #cf4b47;
    font-size: 12px;
    font-family: "Renitta";
  }
}
