@use "./variables.module" as v;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: v.$basic-bg-color;
  min-height: 100vh;
}

html {
  min-height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
