.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 1000vh;

  //.main__img__wrap {
  //  left: 50%;
  //  transform: translate(-50%, -50%);
  //  width: 360px;
  //  height: 400px;
  //  border-bottom-left-radius: 50%;
  //  border-bottom-right-radius: 50%;
  //  background-color: transparent;
  //  background-repeat: round;
  //  background-image: url("../public/assets/images/mainPage/main.png");
  //  .the__img {
  //    width: 360px;
  //    height: 400px;
  //    border-bottom-left-radius: 50%;
  //    border-bottom-right-radius: 50%;
  //  }

  .main__img__wrap {
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    .the__img {
      width: 360px;
      height: 400px;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
    }

    .flash__light {
      position: absolute;
      right: 123px;
      top: 123px;
      width: 2px;
      height: 2px;
      background-color: #fff;
      border-radius: 50%;
      .flash__light__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 120%;
        height: 120%;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 50%;
        opacity: 0;
        box-shadow: 0 0 25px 25px #fff, 0 0 50px 50px #fff8,
          0 0 100px 100px #fff5;
      }
    }
  }

  .main__img__wrap__fixed {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    overflow: hidden;
  }

  .first__scene {
    position: relative;
    height: 100vh;
    width: clamp(800px, 40vw, 1000px);
    //scroll-snap-align: start;
    //scroll-snap-stop: normal;
    //scroll-behavior: smooth;

    .deco__text,
    .patrick__text,
    .wanda__text {
      color: #cf4b47;
      position: absolute;
      overflow: hidden;

      span {
        display: inline-block;
      }
    }

    .deco__text {
      font-family: "AbhayaLibre";
      left: 0;
      top: 50%;
    }

    .patrick__text {
      font-size: 96px;
      font-family: "Renitta";
      left: 0;
      top: 20%;
      z-index: 5;
    }

    .wanda__text {
      font-size: 96px;
      font-family: "Renitta";
      right: 0;
      top: 25%;
      z-index: 15;
    }
  }

  .second__scene {
    position: relative;
    height: 800vh;
    width: clamp(800px, 60vw, 1200px);
    //scroll-snap-align: start;
    //scroll-snap-stop: normal;
    //scroll-behavior: smooth;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    .left__content {
      color: #cf4b47;
      left: 0;
      margin-top: 20vh;

      .luckiest__girl {
        position: fixed;
        font-size: clamp(80px, 8vw, 120px);
        color: #cf4b47;
        white-space: nowrap;
        bottom: 15vh;
        font-family: "AbhayaLibre";
        line-height: 0.56em;
      }

      .action__content {
        position: sticky;
        top: 40vh;
      }
      .every__day {
        font-family: "Renitta";
        font-size: 20px;
      }

      .anni__text {
        font-family: "AbhayaLibre";
        font-size: 48px;
      }

      .anni__bottom {
        display: flex;
        align-items: center;
      }

      .anni__redirect {
        font-family: "AbhayaLibre";
        font-size: 20px;
      }

      .anni__btn {
        display: inline-grid;
        place-items: center;
        width: 24px;
        height: 24px;
        border: 0.5px #cf4b47 solid;
        border-radius: 50%;
        margin-left: 10px;
      }
    }

    .middle__content {
      display: flex;
      justify-content: center;

      .scroll__down {
        position: relative;
        top: -5vh;
        width: clamp(200px, 15vw, 275px);
        height: 100%;
        border-radius: 200px;
        border: 0.5px #cf4b47 solid;
        z-index: -1;

        .scroll__down__text {
          position: absolute;
          transform: translate(-50%, 0);
          left: 50%;
          top: 30px;
          font-size: 20px;
          font-family: "Renitta";
          color: #cf4b47;
        }
      }
    }

    .right__content {
      .cutest__boy {
        position: fixed;
        font-size: clamp(80px, 8vw, 120px);
        color: #cf4b47;
        white-space: nowrap;
        top: 15vh;
        font-family: "AbhayaLibre";
        line-height: 0.56em;
      }

      .tree__bird {
        width: 20vw;
        position: absolute;
        right: 0;
        top: 40vh;

        .bird {
          position: relative;
          left: 40px;
        }
      }
    }
  }
  .firework {
    position: fixed;
    .firework__img {
      width: 354px;
      height: 512px;
    }
  }
  .third__scene {
    position: relative;
    height: 100vh;
    width: 100%;
    //scroll-snap-align: start;
    //scroll-snap-stop: normal;
    //scroll-behavior: smooth;
    background-color: #f2e7e2;
    z-index: 1;
  }
}
