.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .main__img__wrap {
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    overflow: hidden;
  }

  .main__img__wrap__fixed {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    overflow: hidden;
  }

  .first__scene {
    position: relative;
    height: 100vh;
    width: clamp(800px, 40vw, 1000px);
    //scroll-snap-align: start;
    //scroll-snap-stop: normal;
    //scroll-behavior: smooth;

    .deco__text,
    .patrick__text,
    .wanda__text {
      color: #cf4b47;
      position: absolute;
      overflow: hidden;

      span {
        display: inline-block;
      }
    }

    .deco__text {
      font-family: "AbhayaLibre";
      left: 0;
      top: 50%;
    }

    .patrick__text {
      font-size: 96px;
      font-family: "Renitta";
      left: 0;
      top: 20%;
      z-index: -5;
    }

    .wanda__text {
      font-size: 96px;
      font-family: "Renitta";
      right: 0;
      top: 25%;
      z-index: 5;
    }
  }

  .second__scene {
    position: relative;
    height: 100vh;
    width: clamp(800px, 60vw, 1100px);
    //scroll-snap-align: start;
    //scroll-snap-stop: normal;
    //scroll-behavior: smooth;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    .left__content {
      color: #cf4b47;
      left: 0;
      margin-top: 20vh;

      .every__day {
        font-family: "Renitta";
        font-size: 20px;
      }

      .anni__text {
        font-family: "AbhayaLibre";
        font-size: 48px;
      }

      .anni__bottom {
        display: flex;
        align-items: center;
      }

      .anni__redirect {
        font-family: "AbhayaLibre";
        font-size: 20px;
      }

      .anni__btn {
        display: inline-grid;
        place-items: center;
        width: 24px;
        height: 24px;
        border: 0.5px #cf4b47 solid;
        border-radius: 50%;
        margin-left: 10px;
      }

      .luckiest__girl {
        font-size: 64px;
        color: #cf4b47;
        position: absolute;
        left: 0;
        bottom: 30vh;
        font-family: "AbhayaLibre";
        line-height: 0.56em;
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        span {
          white-space: nowrap;
        }
      }
    }

    .middle__content {
      display: flex;
      justify-content: center;

      .scroll__down {
        position: relative;
        top: -10vh;
        width: clamp(200px, 15vw, 275px);
        height: 90vh;
        border-radius: 200px;
        border: 0.5px #cf4b47 solid;
        z-index: -1;

        .scroll__down__text {
          position: absolute;
          transform: translate(-50%, 0);
          left: 50%;
          top: 30px;
          font-size: 20px;
          font-family: "Renitta";
          color: #cf4b47;
        }
      }
    }

    .right__content {
      .cutest__boy {
        position: absolute;
        font-size: 64px;
        color: #cf4b47;
        right: 0;
        top: 25vh;
        font-family: "AbhayaLibre";
        line-height: 0.56em;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
      }

      .tree__bird {
        width: 20vw;
        position: absolute;
        right: 0;
        top: 40vh;

        .bird {
          position: relative;
          left: 40px;
        }

        .firework {
          position: relative;
          width: 100%;
          z-index: 2;
        }
      }
    }
  }

  .third__scene {
    position: relative;
    height: 100vh;
    width: 100%;
    //scroll-snap-align: start;
    //scroll-snap-stop: normal;
    //scroll-behavior: smooth;
    background-color: #F2E7E2;
    z-index: 1;
  }
}
