.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .main__img__wrap {
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    overflow: hidden;
  }

  .main__img__wrap__fixed {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    overflow: hidden;
  }

  .first__scene {
    position: relative;
    height: 100vh;
    width: max(40%, 450px);
    //scroll-snap-align: start;
    //scroll-snap-stop: normal;
    //scroll-behavior: smooth;

    .deco__text,
    .patrick__text,
    .wanda__text {
      color: #cf4b47;
      position: absolute;
    }

    .deco__text {
      font-family: "AbhayaLibre";
      left: 0;
      top: 50%;
    }

    .patrick__text {
      font-size: 96px;
      font-family: "Renitta";
      left: 0;
      top: 20%;
      z-index: -5;
    }
    .wanda__text {
      font-size: 96px;
      font-family: "Renitta";
      right: 0;
      top: 25%;
      z-index: 5;
    }
  }

  .second__scene {
    position: relative;
    height: 100vh;
    width: max(50%, 600px);
    //scroll-snap-align: start;
    //scroll-snap-stop: normal;
    //scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    align-items: center;

    .scroll__down {
      position: relative;
      top: calc(-5vh - 100px);
      width: 270px;
      height: 90vh;
      border-radius: 200px;
      border: 0.5px #cf4b47 solid;
      z-index: -1;

      .scroll__down__text {
        position: absolute;
        transform: translate(-50%, 0);
        left: 50%;
        top: 30px;
        font-size: 20px;
        font-family: "Renitta";
        color: #cf4b47;
      }
    }

    .cutest__boy {
      font-size: 64px;
      color: #cf4b47;
      position: absolute;
      right: 0;
      top: 30%;
      font-family: "AbhayaLibre";
      line-height: 0.56em;
      display: flex;
      align-items: flex-end;
      flex-direction: column;
    }

    .left__content {
      position: absolute;
      color: #cf4b47;
      left: 0;
      top: 30%;

      .every__day {
        font-family: "Renitta";
        font-size: 20px;
      }

      .anni__text {
        font-family: "AbhayaLibre";
        font-size: 48px;
      }

      .anni__redirect {
        font-family: "AbhayaLibre";
        font-size: 20px;
      }
      .anni__btn {
        display: inline-grid;
        place-items: center;
        width: 24px;
        height: 24px;
        border: 0.5px #cf4b47 solid;
        border-radius: 50%;
        margin-left: 10px;
      }
    }
  }
}
