.thumbnail {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #1e1e1e;
  user-select: none;

  .thumbnail__text__wrap {
    display: flex;
    flex-direction: column;

    .thumbnail__text {
      font-family: Ginger;
      font-size: clamp(20px, 7vw, 120px);
      color: #ffd910;
      text-align: center;
    }
  }
}